@model Students_List.Models.Student
@{
    ViewData["Title"] = "Update Page";
}

<form method="post" asp-controller="Home" asp-action="Update2">
    <div class="form-group">
        <label asp-for="id"></label>
        <input asp-for="id" value="@Model.id"/>
    </div>

    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" value="@Model.name" />
    </div>

    <input type="submit" value="Update" class="btn btn-primary btn-lg" />
</form>